 <section class="blogs" id="blogs">
        <h1 class="heading"> our <span>blogs</span> </h1>

        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="/static/img/footy_blog.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">best sellers footy footwears</a>
                    <span>by admin / 22nd march, 2023</span>
                    <p>New arrivals of footwears at footy with high quality sneakers, shoes and much more up for sale at footy store.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/img/footy_blog1.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">best sellers footy footwears</a>
                    <span>by admin / 22nd march, 2023</span>
                    <p>New arrivals of footwears at footy with high quality sneakers, shoes and much more up for sale at footy store.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/img/Yeezy_menu4.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">best sellers footy footwears</a>
                    <span>by admin / 22nd march, 2023</span>
                    <p>New arrivals of footwears at footy with high quality sneakers, shoes and much more up for sale at footy store.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>
        </div>
    </section>