<section class="products" id="best">
        <h1 class="heading"> top  <span>sellers</span></h1>
        <div class="box-container">
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/img/footy_product4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Puma Sneakers</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">#16,200 <span>#18,500</span></div>
                    
                </div>
                <button class="btn" id="modal-btn">order now</button>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/img/shoe4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Brogues Shoe</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">#15,000 <span>#18,000</span></div>
                    
                </div>
                <button class="btn" id="modal-btn1">order now</button>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/img/shoe3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Nike Airforce</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">#18,599 <span>#22,000</span></div>
                    
                </div>
                <button class="btn" id="modal-btn2">order now</button>
            </div>
        </div>
    </section>