 <section class="review" id="review">
        <h1 class="heading"> customer's <span>review</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="" alt="" class="quote">
                <p>Footy provides me with quality footwears always and at affordable prices, their prices are quite reliable and delivery service is top notch. </p>
                <img src="/static/img/testimonials-2.jpg" alt="" class="user">
                <h3>Beth Putellas</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="" alt="" class="quote">
                <p>Footy provides me with quality footwears always and at affordable prices, their prices are quite reliable and delivery service is top notch. </p>
                <img src="/static/img/testimonials-4.jpg" alt="" class="user">
                <h3>Pablo Fati</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="" alt="" class="quote">
                <p>Footy provides me with quality footwears always and at affordable prices, their prices are quite reliable and delivery service is top notch </p>
                <img src="/static/img/testimonials-5.jpg" alt="" class="user">
                <h3>Antoine Jules</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>
    </section>